[2015-03-09 21:20] nickw opened #1 "Support for select elements?"
It looks like you have to add a `browser-default` class to normal `<select>` elements to get them to show up in Materialize. Otherwise Materialize is using a fake select / dropdown UI by default.

Have you tested your package with `<select>` elements yet?

[2015-03-09 23:51] djhi commented on #1
Select are working fine in my apps but I still have to work on some others
(checkboxes and radio will be published tomorrow)

I like the dropdown select but I'll see if I can support both modes

Le lun 9 mars 2015 22:20, Nick Wientge notifications@github.com a écrit :

[2015-03-12 08:36] djhi commented on #1
You can add the class `browser-default` by yourself and it still works smoothly.

[code]

[2015-03-14 17:04] #1 closed

[2015-03-14 17:06] djhi opened #2 "Note about wrong commit"
Comment for commit 5ca9aadfb2fdf93cf678d2dddd49c8615e033e21 is wrong...
I was working on another project and forgot to switch folder in my terminal before commiting.

This commit obviously just updated the version file

[2015-03-14 17:06] #2 closed

[2015-03-17 07:59] benjick opened #3 "No plus icon when type: Array"
Hi

When using your package there is no plus icon on the button for adding more fields.

See http://autoform.meteor.com/quickform and select *Optional array of strings*

[2015-03-17 09:48] djhi commented on #3
Thx for pointing that out. I'll correct it asap

[2015-03-17 10:54] #3 closed

[2015-03-17 10:54] djhi commented on #3
Should be fixed in 0.0.8

[2015-03-20 18:24] djhi opened #5 "Slider does not conform to materialize docs"
Submitted by @rteslaru

[2015-03-20 18:24] djhi commented on #5
Fixed by @rteslaru pull-request in `0.0.9`

[2015-03-20 18:24] #5 closed

[2015-03-25 17:19] Kestanous opened #6 "dropdowns/selects don't work"
Like the title says, selects are not working. Running `$('select').material_select();` in the console fixes it.

EDIT: also great work with this :)

[2015-03-25 17:32] djhi commented on #6
That's strange, I use those selects in my apps and I don't have to call `material_select`

You can see the calls:
- [afSelect_materialize](https://github.com/djhi/meteor-autoform-materialize/blob/master/materialize.coffee#L125)
- [afBooleanSelect_materialize](https://github.com/djhi/meteor-autoform-materialize/blob/master/materialize.coffee#L135)
- [afSelectMultiple_materialize](https://github.com

[2015-03-25 17:33] Sivli-Embir commented on #6
I am calling it in a modal if that helps. But I will look into it. A quick fix works:

[code]

[2015-03-25 18:55] djhi commented on #6
Modals shouldn't be a problem

Le mer. 25 mars 2015 à 18:33, Sivli Kestanous notifications@github.com a
écrit :

[2015-03-26 11:53] coniel opened #7 "Error when using pickadate"
I'm getting the following error:

[code]

When using:

[code]

[2015-03-26 11:56] djhi commented on #7
I'll check that today. Thx for reporting it

Le jeu 26 mars 2015 12:53, Oscar Coniel notifications@github.com a écrit :

[2015-03-26 12:38] #7 closed

[2015-03-26 12:38] djhi commented on #7
Fixed in `0.0.11`

[2015-03-26 14:22] coniel commented on #7
Thanks, although I'm getting this now:

[code]

[2015-03-26 16:47] djhi commented on #7
next version (`0.0.12`) should be ok. Sorry about that, I don't use the pickadate either and tests are inexistant for now. I'll add some when I'll get the time.

[2015-03-26 20:34] coniel commented on #7
Thanks a lot, it works now. Although I'm still getting an error in the console:

[code]

[2015-03-26 20:58] coniel commented on #6
Have a similar issue (but running `$('select').material_select();` in the console isn't fixing it). The issue only appears when the page has been refreshed by Meteor after a code change. If I do a manual refresh or navigate to another page and back it works fine.

[2015-03-26 21:29] coniel opened #8 "Checkboxes and radios don't work when using afQuickField"
When using afQuickField the input has what looks like a randomly generated id, so the 'for' attribute on the label is not valid. When using 'afFieldInput' it comes out fine. See example below:

[code]

```{{>afQuickField name="foo"}}```:
[code]

```{{>afFieldInput name="foo"}}```:
[code]

[2015-03-26 22:02] djhi commented on #7
Fix on its way

[2015-03-26 22:02] djhi commented on #8
Fix on its way

[2015-03-26 22:06] djhi commented on #6
@coniel, I can't reproduce this: Meteor has hot reloaded my pages multiple times and this damn select just keep working :)
Can you tell me which version of meteor, autoform and this package you're using ?

@Kestanous: I'm going to test in modals with my materialize version of `yogiben:modals`

[2015-03-26 22:18] coniel commented on #6
I'm on the latest version for everything.
Meteor 1.0.5
autoform 5.1.0
autoform-materialize 0.0.12

Also, it seems I was wrong about manual refreshing helping (well at least it's not helping anymore). Navigating to a different route and back makes it work though.

[2015-03-26 22:50] djhi commented on #6
Well, just created a playground to test. Same packages configuration. Everything is working, in modals too.

Can you guys clone and try this repo ?

https://github.com/djhi/meteor-autoform-materialize-playground.git

PS: going to sleep now, I'll check your answers tomorrow. May the Force be with you ^^

[2015-03-26 22:54] Sivli-Embir commented on #6
I am out for my weekend but I will check it Sunday. Don't stress it on my end, my patch works for me. I am not up to date with all the packages so that could be it.

Cheers!

~Sivli Kestanous (cmtoups)
Sent from my iPhone

[2015-03-26 23:32] coniel commented on #6
Well it works for me as well in the playground repo, so I'm not sure what's up with my own app. Anyway, my issue is not really much of a problem, they work fine in a normal user scenario. I'll let you know if I figure it out at some point. Thanks a lot for all the help and fixes today!

[2015-03-27 11:29] boustanihani opened #9 "Styling afQuickField Labels"
If you look at the ```Input fields``` on http://materializecss.com/forms.html you will notice that the **labels get smaller on focus** but using ```{{> afQuickField name='<field>'}}``` combined with this package will let the labels all render small from the beginning (even without focus), is this intended? IMO, the other behaviour looks nicer :)

[2015-03-27 12:08] djhi commented on #9
http://autoform-materialize-playground.meteor.com/

[2015-03-27 12:09] djhi commented on #9
Make sure you have the last version of materialize

[2015-03-27 12:10] djhi commented on #9
The repo for the playground is here: https://github.com/djhi/meteor-autoform-materialize-playground.git

I'll add it to the readme when I'll get the chance

[2015-03-27 12:32] boustanihani commented on #9
Thanks, nice work :+1:

I am not using `{{> quickForm}}`, I am using `{{#autoForm}}` with `{{> afQuickField}}`

Could this be the problem?

Have you tried combining `{{#autoForm}}` and `{{> afQuickField}}`?

[2015-03-27 12:41] djhi commented on #9
I use it all the time in my apps. No prb so far

Le ven. 27 mars 2015 à 13:32, boustanihani notifications@github.com a
écrit :

[2015-03-27 12:49] boustanihani commented on #9
Do you wrap the `{{> afQuickField}}` with something or you let it be a direct child of `{{#autoForm}}` ??

Are there any usage examples?

[2015-03-27 12:51] djhi commented on #9
I'll add an example to the playground this afternoon. Give me a couple
hours, l need to finish my work first

Le ven 27 mars 2015 13:49, boustanihani notifications@github.com a écrit :

[2015-03-27 13:04] boustanihani commented on #9
Awesome :)

[2015-03-27 13:53] djhi commented on #9
Playground repo updated

[2015-03-27 16:23] boustanihani commented on #9
Sorry my mistake, I forgot to add `AutoForm.setDefaultTemplate('materialize')` and that was causing the issue :)

[2015-03-27 16:23] #9 closed

[2015-03-27 16:24] djhi commented on #9
Glad you got it working :)

Le ven. 27 mars 2015 à 17:24, boustanihani notifications@github.com a
écrit :

[2015-03-27 16:25] boustanihani commented on #9
Great work man :+1:

[2015-03-30 02:41] Sivli-Embir commented on #3
This seems to still be an issue, with the following schema:

[code]

It outputs bootstrap code:

[code]

This is running:
aldeed:autoform@5.1.1
gildaspk:autoform-materialize@0.0.14

[2015-03-30 02:45] Sivli-Embir commented on #6
Still not sure about this. I updated everything but the issue still there.

Not sure if it helps but, my schema is as such:

[code]

Again my fix works for me so don't worry about it. Very strange.

[2015-03-30 06:28] djhi commented on #6
I added your property schema on the playground but without the label function and it worked. Can you comment it to confirm ?

This might be related to this issue in materialize [#889](https://github.com/Dogfalo/materialize/issues/889).

The label function might run when TAPi18n switch language. Not use about this as you should have a dropdown with default language before the switch and this dropdo

[2015-03-30 06:28] djhi commented on #6
Playground live here: http://autoform-materialize-playground.meteor.com/

[2015-03-30 06:37] djhi commented on #3
Are you sure you set the correct template ?

I updated the playground repo to include your emails property, (again without the label function, I use tapii18n myself but I want to keep the playground simple), and it works fine.

Btw, you might be interested by this: https://github.com/djhi/meteor-simpleschema-tapi18n-labels

[2015-03-30 14:49] laurentpayot opened #10 ""select-multiple" fields support?"
Hi,I love this project but is the support of "select-multiple" type of fields planned anytime soon? ( "select-multiple" works like a mere "select" for now)

[2015-03-30 15:50] Sivli-Embir commented on #6
Thanks to #3 I found my issue. I had:

[code]

Really sorry about that. Everything is working great now... I was using bootstrap & semantic ui before and apparently did not clean it up all the way.

[2015-03-30 15:50] #6 closed

[2015-03-30 18:48] djhi commented on #6
No prb, glad you solved it :)

Le lun. 30 mars 2015 à 17:50, Sivli Kestanous notifications@github.com a
écrit :

[2015-03-30 18:50] djhi commented on #10
Ask the guys at materialize ^^ Their dropdown does not support multiple
select, so you have to enable browser-default as specified in their doc.
Haven't tested it though. Let me know how it goes. If it does work, I'll
remove the warning and the materialize select initialization from it

Le lun. 30 mars 2015 à 16:49, Laurent Payot notifications@github.com a
écrit :

[2015-03-31 09:04] laurentpayot commented on #10
I use quickForm so I tested it by editing generated html in Firefox. I added the "multiple" attribute and the "browser-default" class to the select tag. It worked: you can select multiple options and once the form is submitted the multiple options are saved. But of course the "browser-default field" is kind of ugly and the multiple selected options are not displayed at the top...

[2015-04-04 19:32] yanndebelgique opened #11 "weird behavior with select"
Hi,

I have an issue with select-dropdown. It doesn't show at all where it's supposed to be :-(

Here is a picture

![screenshot 2015-04-04 21 26 21](https://cloud.githubusercontent.com/assets/2687189/6994238/9f76cf56-db11-11e4-9256-6d78cd6f96fa.png)

code :

[code]

Btw Don't know what is going on and if I want to inspect the dropdown I can't because it disappears on me when I click so I cant use

[2015-04-04 20:55] djhi commented on #11
How do you include materialize files ?

Le sam 4 avr. 2015 21:32, yann notifications@github.com a écrit :

[2015-04-05 07:47] yanndebelgique commented on #11
with the materialize:materialize package

[2015-04-05 09:16] djhi commented on #11
Never seen this prb before. Can you make a repository with a reproduction
of this prb ?

Le dim. 5 avr. 2015 à 09:47, yann notifications@github.com a écrit :

[2015-04-05 16:57] yanndebelgique commented on #11
sorry sorry sorry. It was my css that was the pb... Thanks for this very cool package you saved me ALOT of time!!!

[2015-04-05 17:31] djhi commented on #11
I'm glad you got it working. Please tell me if you see anything that can be
improved.

Le dim 5 avr. 2015 18:57, yann notifications@github.com a écrit :

[2015-04-05 18:11] yanndebelgique commented on #11
Ok will do

[2015-04-06 12:13] #11 closed

[2015-04-06 12:17] yanndebelgique commented on #8
Hi not totally fixed I think using quickForm all the radio elements have the same id.
This leads to weird behavior when clicking on a radio button (the first radio button is checked no
matter what you click).

[code]

[2015-04-06 12:23] djhi commented on #8
Good catch, I'll fix it as soon as possible. Thx for reporting it

Le lun. 6 avr. 2015 à 14:17, yann notifications@github.com a écrit :

[2015-04-07 08:16] #8 closed

[2015-04-07 08:29] #10 closed

[2015-04-07 14:46] jadsonlourenco opened #12 "Add input ID to label focus works fine"
When click on a **label** it should focus on the corresponding input, but only using the ```name``` attribute in this field focus effect does not work because it needs the **ID** attribute.
So, the label has the attr **for**, but the input need the **id**.

I know that we can add it manually, but this theme auto generate the *label* attr **for** with the input name from schema, that is unique like

[2015-04-07 16:15] djhi commented on #12
It's done already. Have you found a label without id ?

Le mar 7 avr. 2015 16:46, Jadson notifications@github.com a écrit :

[2015-04-07 17:15] jadsonlourenco commented on #12
No, I get the input without **ID**:

[code]

The input don't has an ID, you see different?

[2015-04-07 17:32] djhi commented on #12
I'll check that asap

Le mar 7 avr. 2015 19:15, Jadson notifications@github.com a écrit :

[2015-04-07 17:45] jadsonlourenco opened #13 "Add Class Invalid"
On Materialize to make the input with **red underline** after validation fail need add this class **invalid** to input.

[2015-04-08 08:15] djhi commented on #13
Thx for reporting this. I'll add it asap

[2015-04-08 08:32] djhi commented on #12
Are you using the last autoform too ?

On the [playground](https://github.com/djhi/meteor-autoform-materialize-playground) which is running [here](http://autoform-materialize-playground.meteor.com/), you can see that ids are generated correctly.

[2015-04-08 10:08] #13 closed

[2015-04-08 10:09] djhi commented on #13
I haven't been able to make it work with pickadate and dropdowns but it should now work for all other inputs. You may have to implement it yourself for custom inputs

[2015-04-08 13:04] jadsonlourenco commented on #13
Oh man thank you!
I need learn a bit about the helpers of autoform and then I can help with it because is important to have to all inputs, but for now I will show a "toast" message for this inputs that don't have autovalidation.

[2015-04-08 13:07] djhi commented on #13
They have validation as you can see on the playground but I haven't find a
way to add the `invalid` class without causing problems.

Le mer. 8 avr. 2015 à 15:04, Jadson notifications@github.com a écrit :

[2015-04-08 13:09] djhi commented on #13
In case you don't know, a playground is available here:
https://github.com/djhi/meteor-autoform-materialize-playground/tree/master

Le mer. 8 avr. 2015 à 15:07, Gildas Garcia gildas.garcia@gmail.com a
écrit :

[2015-04-08 13:12] jadsonlourenco commented on #13
Yes I saw, I will see it soon, maybe use other class name, and add custom styles, but need see on Materialize repo about that.

[2015-04-08 13:16] jadsonlourenco commented on #12
Yes man, the all problem is that, autoform not update of 4.2 to 5.0 version, I need add one flag on meteor cmd to do that. So problem solved! Thank you so much!

[2015-04-08 13:16] #12 closed

[2015-04-08 13:41] djhi commented on #12
in your `.meteor/packages` file, add autoform like this:

[code]

[2015-04-08 13:42] djhi commented on #13
If anyone ask, I can also add the `valid` class

[2015-04-12 09:19] Difusio opened #14 "Typo in ReadMe"
[code]

`type="pickadate"` should be `type: "pickadate"`

[2015-04-12 10:23] djhi commented on #14
Right, thank you for reporting.

Le dim 12 avr. 2015 11:19, Difusio notifications@github.com a écrit :

[2015-04-16 08:59] coniel opened #15 "Switch labels"
When switches are in the false position the label drops down covering them:
![screen shot 2015-04-16 at 11 47 56](https://cloud.githubusercontent.com/assets/1728027/7177489/c4abb094-e42f-11e4-8ffe-3b1871a9c19b.png)

Also, is there a way to not display the true and false labels?

[2015-04-16 09:02] djhi commented on #15
That's strange, i have some very long titles and i don't have this prb.

Have you tried  to pass empty strings ?

Le jeu. 16 avr. 2015 10:59, Oscar Coniel notifications@github.com a
écrit :

[2015-04-16 09:15] coniel commented on #15
The thing covering it is the input label (not the true/false labels). This is what it's like when enabled:
![screen shot 2015-04-16 at 11 48 01](https://cloud.githubusercontent.com/assets/1728027/7177763/e92f2aca-e431-11e4-8550-dca7ccc31f6c.png)

I did try and pass empty string (as well as false and null) to disable to true/false labels, but it reverts to the default "Off/On" labels.

[2015-04-16 09:24] djhi commented on #15
Oh right, can you try to pass `label-class="active"` on your quickfield ?

Le jeu. 16 avr. 2015 à 11:15, Oscar Coniel notifications@github.com a
écrit :

[2015-04-16 09:35] coniel commented on #15
Doesn't make a difference.

[2015-04-16 09:40] coniel commented on #15
The active class gets removed when the form is generated. The label is only in that position when the form is generated with the value set to false. When it starts off as true, the label is in the correct place. Also, when you go from false to true the label goes up, and when you go back again the label stays in the right place.

[2015-04-16 09:45] coniel commented on #15
Actually (sorry for spamming), when the form starts off as true, the label is in the correct position, but when you switch to false it goes down and then doesn't go back up when switching to true.

So basically:
- when the original value is true, label start in the right place but falls down when switching to false (and stays up when switching back and forth again)
- when the original value is fal

[2015-04-16 11:39] djhi commented on #15
Ok, thx for this report. I'll take a look asap.

Le jeu. 16 avr. 2015 11:45, Oscar Coniel notifications@github.com a
écrit :

[2015-04-18 21:47] Igor1201 opened #16 "Error when trying to use pickadateOptions"
Tried to set the function on autoform object of schema and in a helper function on template, same error.
[code]

[2015-04-22 08:26] #14 closed

[2015-04-22 08:55] djhi commented on #15
Ok, here's what will do the next patch to match materialize usage of switch ([doc](http://materializecss.com/forms.html#switches)):
- Don't apply the `input-field` CSS class to the form-group containing the switch
- Don't add label for switches

No, as you can see in the materialize doc, you must have both labels. You can however pass empty strings if you like. Check this package README

[2015-04-22 08:59] #15 closed

[2015-04-22 08:59] #16 closed

[2015-04-24 18:33] nicolaslopezj opened #18 "Active class on label is not added"
In a update form the "active" class is not added to the label if the value of the input is set. When I focus the input, the label becomes active.

When the form is rendered:
![captura de pantalla 2015-04-24 a las 3 32 33 p m](https://cloud.githubusercontent.com/assets/2042567/7325781/2d8be5f8-ea97-11e4-9971-fcaf5e24f710.png)

When I focus the input:
![captura de pantalla 2015-04-24 a las 3 32 22 p

[2015-04-24 18:49] djhi commented on #18
I'll fix that asap, thx for reporting

Le ven. 24 avr. 2015 20:33, Nicolás López notifications@github.com a
écrit :

[2015-04-24 18:51] nicolaslopezj commented on #18
Thanks!

[2015-05-12 05:37] cicely-f commented on #3
This still seems to be an issue:
I'm using the following packages:
- aldeed:autoform 5.1.2
- materialize:materialize 0.96.1
- gildaspk:autoform-materialize 0.0.18
- gildaspk:autoform-modal-materialize 0.0.6

With a field like this:

[code]

I still get references to glyphicons for the add/remove buttons instead of the expected mdi-\* icons.

[2015-05-13 05:59] cpalanzo commented on #18
Still a problem. Any timeline for fix?

[2015-05-13 06:54] djhi commented on #18
I won't be able to loot at it before next week. Feel free to submit a pull
request if you can

Le mer. 13 mai 2015 à 07:59, Charlie Palanzo notifications@github.com a
écrit :

[2015-05-13 11:37] cpalanzo commented on #18
I'm pretty new to both Meteor and Materialize - and I'm not exactly comfortable changing your code, but I took a quick look and thought it might be simple?

Change This:

[code]

To this?

[code]

[2015-05-13 16:27] boustanihani opened #19 "Styling issues"
While playing around I found the following styling issues:
- The dropdown (select) lable jumps too high when a value is selected...
- The "submit" button renders over the dropdown fields (This is a Materialize bug so just ignore...)
- The vertical spacing between the "input-fields" is very small, probably because not wrapping each input-field inside its own row... (Field-1 lable almost touches the

[2015-05-14 00:49] benan789 opened #20 "Datepicker in modal is cut off"
I've tried setting datepicker container with this on render but does not work.

$('.datepicker').pickadate({
    container: 'body'
});

[2015-05-14 09:29] djhi commented on #20
I think this is a materialize prb, not a meteor-autoform-materialize one.

Le jeu. 14 mai 2015 à 02:49, benan789 notifications@github.com a écrit :

[2015-05-14 12:06] jadsonlourenco commented on #20
For me this works:

[code]

Define options on schema, not in jQuery format.

[2015-05-14 13:26] djhi commented on #20
Thanks Jadson, I should have noticed

Le jeu. 14 mai 2015 à 14:06, Jadson notifications@github.com a écrit :

[2015-05-14 14:40] Visudare opened #21 "Range Slider"
It would be nice to add support for range slider

http://materializecss.com/forms.html#range

[2015-05-14 14:42] TimoRuetten commented on #21
Sorry, this is possible without any change and by autoform itself.

{{> afQuickField name='receiver.num'  type='range' min='0' max='100'}}

[2015-05-14 14:42] #21 closed

[2015-05-14 16:41] benan789 commented on #20
Thanks Jadson! Worked perfectly!

[2015-05-14 16:41] #20 closed

[2015-05-15 16:17] romans127 commented on #18
Can we not pass class active through the template it already has a helper for {{atts}}

[2015-05-17 17:08] cpalanzo commented on #18
Not really - since the underlying templates are being used by auto-form, or in my case quick-form -- I have no idea if a particular field is populated so I can't make it active.

also my "logic" in the comment above might be reversed.. not sure:
probably should be

{{#if this}} class="active" {{/if}}

DJHI -- are you still planning to correct this, this week?

[2015-05-21 12:24] fabyeah opened #22 "Radio buttons not visible"
They only work without materialize:materialize. But as soon as I add materialize package and autoform-materialize package, they're gone.

[2015-05-24 17:55] lobosan opened #23 "Inline radiobuttons"
Inline radio buttons errors with label and not rendering inline

[2015-05-25 17:48] dandv commented on #18
I found a bug with the `class="active"` for the label in some circumstances: it wouldn't do anything if the input had no value declared _in the HTML_. As a workaround, adding a blank value:

[code]

(not sure how this would work with Autoform)

[2015-05-25 18:45] dandv opened #24 "Set the website of this GitHub repo to the Atmopshere package"
Example:

[![Adding GitHub repo URL](https://cloud.githubusercontent.com/assets/33569/6536430/76a7d88e-c402-11e4-8883-6ab2c7b8c30a.png)](https://github.com/dandv/meteor-webix)

[2015-05-25 22:54] cpalanzo commented on #18
Doesn't help with Autoform - still waiting on fix for labels.

[2015-05-28 17:48] Chun-Yang opened #26 "Bug: afQuickField does not save to doc"
Hi @djhi , I am enjoying you package and thank you.

I get an error described bellow. Can you take a look when you have time?

Bug demo: http://meteorpad.com/pad/kEdy34SJfEhjbiymy/Leaderboard

- click 'a1'
- click 'submit'
- NOTE areas is required error message even though a1 is selected
- NOTE at http://app-b6xirfen.meteorpad.com/, open console, the log message comes from
[code]
- The quick field

[2015-05-28 19:36] kbdaitch opened #27 "Select not working in the 0.0.18"
As mentioned [here](https://github.com/orionjs/orion/issues/175)

The call to `material_select` never happens. Thoughts?

[2015-05-28 19:39] charandas commented on #27
I breakpoint in [L188](https://github.com/djhi/meteor-autoform-materialize/blob/master/materialize.coffee#L188) but it never seems to occur.

[2015-05-30 07:51] boustanihani commented on #13
I just posted a question about this: https://github.com/Dogfalo/materialize/issues/1454

[2015-06-01 18:56] charandas commented on #27
Ping - anyone?

[2015-06-01 19:08] djhi commented on #27
Sorry, I'm currently very busy with a client project. Can't find time for
this right now. I hope I will before end of the week. Thank your for
reporting and feel free to submit pull requests.

Le lun. 1 juin 2015 à 20:56, Karan Batra-Daitch notifications@github.com
a écrit :

[2015-06-07 11:54] PhilippSpo commented on #19
I use this code to fix the select field:

[code]

[2015-06-08 20:39] boustanihani commented on #19
@PhilippSpo thanks. Do you know why the labels are sometimes left-aligned with the input field and sometimes with a margin on the left side?

[2015-06-10 14:33] coniel opened #29 "afBooleanRadioGroup uses trueLabel for both true and false inputs"
The first input in afBooleanRadioGroup should have ```{{#with this.atts.falseLabel}}``` instead of ```{{#with this.atts.trueLabel}}```

[2015-06-10 14:43] coniel commented on #29
Created a pull request: https://github.com/djhi/meteor-autoform-materialize/pull/30

[2015-06-10 17:25] djhi commented on #24
Done, thank you for reporting

[2015-06-10 17:25] #24 closed

[2015-06-10 17:28] djhi commented on #18
Apologies to all. I'm working on all tickets right now and will keep you informed

[2015-06-10 18:16] otroboe commented on #18
Thanks :+1:

[2015-06-10 18:25] nicolaslopezj commented on #18
Thanks!

[2015-06-10 19:21] djhi commented on #19
@boustanihani thanks for reporting but there are multiple issues in this ticket which make those bugs difficult to be tracked correctly in github. Can you please create separate tickets so that I can address them correctly ?

[2015-06-10 19:31] djhi commented on #29
Fixed in 0.0.19

[2015-06-10 19:31] #29 closed

[2015-06-10 19:31] djhi commented on #27
Fixed in 0.0.19

[2015-06-10 19:31] #27 closed

[2015-06-10 19:32] djhi commented on #22
Fixed in 0.0.19 (see http://autoform-materialize-playground.meteor.com/ which uses materialize:materialize)

[2015-06-10 19:32] #22 closed

[2015-06-10 19:33] djhi commented on #18
Fixed in 0.0.19, see http://autoform-materialize-playground.meteor.com/. There is a field with a default value which reproduce this.

[2015-06-10 19:33] #18 closed

[2015-06-10 19:34] djhi commented on #26
Seems to be fixed in 0.0.19. Not able to reproduce it

[2015-06-10 19:34] #26 closed

[2015-06-10 19:35] djhi commented on #23
Thanks for reporting. Can you please add more details and/or a reproduction repo ?

[2015-06-10 20:51] boustanihani opened #31 "dropdown lable jumps too high"
The dropdown (select) lable jumps too high when a value is selected... I also noticed that passing ```options: 'allowed'``` magically lets this issue disappear.

Compare the first two dropdowns =>

Reproduction deployment: http://materialize-autoform.meteor.com
Repository: https://github.com/boustanihani/materialize-autoform

[code]

[code]

[2015-06-10 20:54] boustanihani opened #32 "some labels are not left-aligned"
Some labels are pushed by 0.75rem to the right, thus not getting left-aligned with the input fields (as intended by: http://materializecss.com/forms.html)

Reproduction deployment: http://materialize-autoform.meteor.com
Repository: https://github.com/boustanihani/materialize-autoform

[code]

[code]

[2015-06-10 20:57] boustanihani opened #33 "vertical spacing too small"
In some cases, the vertical spacing between the "input-fields" is very small, probably because not wrapping each input-field inside rows & columns... (Field-1 label almost touches the above line when a value is being entered)

Reproduction deployment: http://materialize-autoform.meteor.com
Repository: https://github.com/boustanihani/materialize-autoform

[code]

[code]

[2015-06-10 21:01] boustanihani opened #34 "missing .input-field wrapper when passing custom options"
When passing extra options to AutoForm inside a Schema the generated quickfield won't get wrapped inside a ```<div class="input-field">``` as intended (check: http://materializecss.com/forms.html)

**Compare the HTML result of Size-1 & Size-2**

Reproduction deployment: http://materialize-autoform.meteor.com
Repository: https://github.com/boustanihani/materialize-autoform

[code]

[code]

[2015-06-10 21:04] boustanihani commented on #19
Sorry, your are right :bowtie:

Here are the separate tickets:
- dropdown lable jumps too high: https://github.com/djhi/meteor-autoform-materialize/issues/31
- some labels are not left-aligned: https://github.com/djhi/meteor-autoform-materialize/issues/32
- vertical spacing too small: https://github.com/djhi/meteor-autoform-materialize/issues/33
- missing .input-field wrapper when passing custom o

[2015-06-10 21:04] #19 closed

[2015-06-10 21:11] djhi commented on #19
Great. Thank you :)

Le mer. 10 juin 2015 à 23:04, boustanihani notifications@github.com a
écrit :

[2015-06-10 21:13] boustanihani commented on #19
welcome :smiley:

[2015-06-11 15:45] cpalanzo commented on #18
Still have a minor issue. When used on Autoform - the label now moves UP correctly - but OVERLAPS the field above... there is no padding?

[2015-06-11 20:59] OscarOrSomething opened #35 "TextArea should be wrapped in .input-field div"
From the materialize website:

[2015-06-11 21:15] boustanihani commented on #35
Possible duplicate of https://github.com/djhi/meteor-autoform-materialize/issues/34 ??

[2015-06-11 22:09] lobosan commented on #23
For instance I'm using simple schema, also having trouble with selects

[code]

[2015-06-12 15:26] tcmal commented on #35
I don't think so...

[2015-06-15 08:44] coniel opened #36 "Active class not added when input has a placeholder"
The label overlaps the placeholder.
When loaded:
![screen shot 2015-06-15 at 11 42 50](https://cloud.githubusercontent.com/assets/1728027/8156205/c56cc920-1353-11e5-8ce0-8d7eb1b708d8.png)
When input is focused:
![screen shot 2015-06-15 at 11 42 57](https://cloud.githubusercontent.com/assets/1728027/8156208/c72fcffa-1353-11e5-8c15-64cd4f307ec5.png)

[2015-06-26 23:36] kamek-pf opened #40 "Label overlaps input with the 'disabled' attribute"
This is what happens when an input is created with autoform using the 'disabled' parameter :
![1](https://cloud.githubusercontent.com/assets/3883992/8389162/120cea6e-1c3a-11e5-8340-ed8c1a13dafd.png)

Here is what's expected :
![2](https://cloud.githubusercontent.com/assets/3883992/8389178/4c2db386-1c3a-11e5-9854-bc632b8a4bc1.png)

`label-class="active"` doesn't work so there is no clean workaround

[2015-06-27 22:16] byennen commented on #40
@kamek-pf having the same issue...

[2015-07-02 14:50] #36 closed

[2015-07-02 15:13] djhi commented on #35
Can't reproduce, they are wrapped in an `.input-field`.

I might have fixed this with other changes, so please wait for `0.0.20`

[2015-07-02 15:17] djhi commented on #34
Can't reproduce, they are wrapped in an .input-field.

I might have fixed this with other changes, so please wait for 0.0.20

[2015-07-02 15:25] byennen commented on #35
@djhi thanks for getting these PR's accepted!

[2015-07-02 15:26] djhi commented on #33
Fixed in `0.0.20` which will be released today

[2015-07-02 15:26] #33 closed

[2015-07-02 15:27] byennen commented on #33
:+1:

[2015-07-02 15:27] djhi commented on #32
Fixed in `0.0.20` which will be released today.

[2015-07-02 15:27] #32 closed

[2015-07-02 15:28] djhi commented on #31
Fixed in `0.0.20` which will be released today.

[2015-07-02 15:28] #31 closed

[2015-07-02 15:36] djhi commented on #23
Materialize does not support inline-radios or checkboxes by default. I added support for it in this package but be aware that it might not work with future versions

Fixed in 0.0.20 which will be released today

[2015-07-02 15:36] #23 closed

[2015-07-02 15:57] boustanihani commented on #34
I'll check this again after updating to 0.0.20

[2015-07-02 15:58] djhi commented on #40
Fixed in `0.0.20` which will be released today

[2015-07-02 15:58] #40 closed

[2015-07-02 16:05] djhi commented on #35
My pleasure, keep reporting any prbs ;)

[2015-07-02 16:05] #35 closed

[2015-07-02 16:06] djhi commented on #34
0.0.20 released. Reopen this if needed

[2015-07-02 16:06] #34 closed

[2015-07-02 18:12] djhi commented on #18
This should have been fixed too in `0.0.20` by adding a `row` wrapper and `col s12` on the `input-field`

[2015-07-06 07:03] OminStyle opened #41 "Support for aldeed:autoform-select2"
I'm loving the package so far. I was just wondering if it would be possible to get support for https://atmospherejs.com/aldeed/autoform-select2 or if you know any workaround, that would be great too!

[2015-07-06 07:21] djhi commented on #41
Hi :) What is the problem exactly ? Can you create a repository reproducing what you have ?

[2015-07-06 08:50] charleshan commented on #41
Hi @djhi, thanks for the quick response. Here's a MeteorPad reproducing the issue: http://meteorpad.com/pad/qAHKzqRD2rQcPi4yr/Materialize-autoform-select2. I also found (while I was making this for you lol) that deleting `AutoForm.setDefaultTemplate('materialize');` actually fixes this but of course, we can't do that because it' creates a lot more problems.

[2015-07-06 08:57] charleshan commented on #41
It seems like Meteor package manager wasn't doing it's job... I found that `aldeed:autoform` was on a version that is not compatible. Problem solved.

[2015-07-06 08:59] djhi commented on #41
Glad it worked ! I recently had many prbs too with the package manager getting old versions of some packages

[2015-07-06 09:09] charleshan commented on #41
Actually... I thought autoform would be added as a dependency but it wasn't. I'm still get the issue. Could you take a look? http://meteorpad.com/pad/qAHKzqRD2rQcPi4yr/Materialize-autoform-select2

[2015-07-06 09:30] djhi commented on #41
So, the select is working but you need to override select-2 css for materialize. I've never used this plugin with materialize but you can start with:

[code]

[2015-07-06 18:52] akshaykmr commented on #27
Hey, I have the same problem.
For temp. fix I run

[code]

inside the template.onRendered.

[2015-07-06 19:09] charandas commented on #27
Yes, I don't think the above fix ever worked for me.

[2015-07-08 06:44] charleshan commented on #41
hm... okay. I presume there isn't any plan for the package to support it then?

[2015-07-08 06:46] djhi commented on #41
Materialize has its own dropdown mecanism for select elements. I think support for select-2 should be in a separate package.

[2015-07-08 07:00] charleshan commented on #41
I was thinking that it could be a quick fix because the form looks good (except the right boarder) when I remove the package.

[2015-07-09 02:28] piyushcoader opened #42 "select dropdown doesnot work in firefox"
In firefox the the select dropdown is rendered but when i change the value the value in the dropdown is not changed. If i render the select tag without autoform i mean with only materialize package then it works fine.
I notice when i log the console  class of dropdown list is not changed to active and disabled  whereas in the materializecss it adds the class disabled and set acitive to current sel

[2015-07-09 10:15] boustanihani commented on #34
This is fixed, greeat work :+1:

[2015-07-09 10:54] boustanihani opened #43 "dropdown labels are too high"
This issue still seems to exist using v0.0.20: https://github.com/djhi/meteor-autoform-materialize/issues/31

Check: http://dropdown-labels-too-high.meteor.com/

```{{> quickForm id="tableCreate" schema="Schema.test"}}```

[code]

[2015-07-12 13:04] BraveKenny opened #44 "Textarea expands height to bottom of the page as soon as key is pressed"
I have a simple comment collection described as such:

[code]
I display my autoform this way:

[code]

I can click and get a cursor normally. But as soon as I start typing in the textarea, the field just expands fluidly but rapidly, until none of what's underneath (therefore, the "Post" button) can be seen. The scrollbar just doesn't go further down. No errors in the console, it happens both on fi

[2015-07-12 13:10] SylvainBigonneau commented on #44
Ouch, my bad, just fixed it. Apparently my CSS was related to the issue... I use transitioner, which requires to have a 100% height on the container of iron-router's `yield`, and my css rule was a little too drastic:

[code]

I used a `#main` selector instead. Works now.

[2015-07-12 13:10] #44 closed

[2015-07-12 15:14] byennen opened #45 "labels are missing on select-radio"
labels are missing on select-radio, and select-radio-inline

[2015-07-12 16:00] djhi commented on #43
Please post the version of materialize you use.

On the autoform playground, I can't reproduce your issue:

http://autoform-materialize-playground.meteor.com/
https://github.com/djhi/meteor-autoform-materialize-playground

[2015-07-12 16:03] boustanihani commented on #43
I am using the latest https://atmospherejs.com/materialize/materialize **v0.97.0**

[2015-07-12 16:04] djhi commented on #42
The playground works fine on FF (dropdowns included):
http://autoform-materialize-playground.meteor.com/

[2015-07-12 22:42] jholl commented on #43
Looks like this is caused because of the `active` class on the label for `.select-wrapper + label`; in materialize v0.97.0 the label for a select does not need `.active` but the template `{{atts}}` are adding it.

[2015-07-12 22:44] jholl commented on #43
should note, templates `{{> afFormGroup }}` or `{{> afQuickField}}`.

[2015-07-12 23:09] jholl opened #46 "change layout of input date in afFieldGroup and afQuickField"
similiar to #43 , the layout for date fields with label is different than text inputs; therefore needs different template when using afFieldGroup and afQuickField (looks like label and input should not be wrapped in `.input-field`)

[2015-07-13 05:14] djhi commented on #43
Fixed in `0.0.21` which will be released today.

[2015-07-13 05:14] #43 closed

[2015-07-13 05:18] djhi commented on #41
Sorry but I won't include compatibility fixes for other librairies in this package. Those should be provided as separate packages.

[2015-07-13 05:18] #41 closed

[2015-07-13 05:50] djhi commented on #46
Though you're right about the layout, I don't see any problems with the current implementation. On the playground, the date field is displayed correctly and its label behave correctly.

I added an afQuickField version on the playground (will be deployed today), and could not see any issue.

Can you explain what the problem is and create a meteorpad for it ?

[2015-07-13 05:51] djhi commented on #45
Yes, this is by design, take a look at the playground:

http://autoform-materialize-playground.meteor.com/
https://github.com/djhi/meteor-autoform-materialize-playground

[2015-07-13 06:49] djhi commented on #43
Important note I will add in README:

You must add `options: 'allowed'` to all select: see https://github.com/aldeed/meteor-autoform/issues/1086

@boustanihani, your schema must be:

[code]

[2015-07-13 09:06] boustanihani commented on #43
@djhi First thank you for the great package :)

According to https://github.com/aldeed/meteor-autoform#use-allowed-values-array-from-the-schema-as-both-the-label-and-the-value

Fields generated by quickForm or afObjectField or afArrayField **use allowedValues by default**.

Could you please calrify why you think that `options: 'allowed'` must be added?

[2015-07-13 09:10] boustanihani commented on #43
Ah, you mean this is a temporary workaround until the autoform bug is fixed right?

[2015-07-13 09:11] djhi commented on #43
Right :) I'll try to submit a fix to Autoform when I'll get the chance. Feel free to make one though ;)

[2015-07-13 09:13] boustanihani commented on #43
okay I'll try :bowtie:

[2015-07-13 10:41] boustanihani opened #47 "Question: {{atts.id}}"
@djhi I am just curious why you defined `{{atts.id}}` as `{{atts.name}}` in:
https://github.com/djhi/meteor-autoform-materialize/blob/0.0.21/inputTypes/switch/switch.js#L35

Is it because you faced this particular issue => https://github.com/aldeed/meteor-autoform/issues/1074

I suppose this is an autoform bug right?

[2015-07-13 11:49] djhi commented on #47
Can't remember... sorry

[2015-07-13 19:00] jholl commented on #43
Thank you very much!

[2015-07-20 15:42] kamek-pf opened #49 "afCheckboxGroup_materialize: Checkbox aren't checked as they should be."
When using `afCheckboxGroup_materialize` to show an existing document, the checkboxes aren't checked as they are supposed to be. Looking at the template instance however, the values are correct, so it's just a matter of actually checking the checkboxes.

Here is what we did to fix it :
[code]

[2015-07-24 13:12] byennen commented on #45
@djhi I'm going to close this out. Your correct. Although, it seems a little odd at first. I've move any radio buttons that needed a label to a select dropdown, which accomplishes the same objective. Thanks again!

[2015-07-24 13:12] #45 closed

[2015-07-24 13:18] byennen opened #51 "File input missing for cfs-autoform"
When doing file uploads with cfs:autoform file input is missing.

I'm going to look bootstrap3 template in autoform templates and see if I can find what's missing. I'll create a PR for it once I figure it out.

[2015-07-27 08:09] ChJJin opened #53 "type pickadate doesn't work"
I think because the template ```afPickadate``` has the wrong name. It should be ```afPickadate_materialize```, right?

[2015-07-27 08:43] ChJJin commented on #53
Sorry, after I update the package, it works.

[2015-07-27 08:43] #53 closed

[2015-07-27 09:08] boustanihani commented on #47
I mean shouldn't we make use of the autogenerated autoform-IDs when creating custom types so that there are no duplicate IDs in the DOM in case a template is rendered several times?

[2015-07-29 03:08] ChJJin commented on #49
I have the same situation.

I think this is because it miss the `checked` attribute of `itemAtts` as how the [autoform source](https://github.com/aldeed/meteor-autoform/blob/devel/inputTypes/select-checkbox/select-checkbox.js#L41-L43) do.

[2015-07-29 03:14] ChJJin opened #55 "afCheckboxGroupInline template is not inline as expected"
It should put the ```each``` tag inside the ```<p>``` element instead, correct?

[2015-08-01 02:23] lsunsi opened #56 "valid/invalid classes for form validation"
This feature seems to be completely lacking from this package.
Not a deal breaker, but it would be nice to have.

or maybe I'm doing something wrong.

[2015-08-06 14:24] otroboe opened #57 "pickadate throws Error"
Hey !

I'm trying to use pickadate type. It's working but it throws an error when displaying the form, in both creation and edition :(

[code]

[2015-08-12 21:19] serkandurusoy commented on #49
Any word on fixing this?

[2015-08-12 21:27] kamek-pf commented on #49
For now, you can simply copy/paste the fix from the first post somewhere in your client code, but the package definitely needs a proper fix.

[2015-08-12 21:28] serkandurusoy commented on #49
Yep, that's what I did.

[2015-08-12 23:20] serkandurusoy opened #59 "Select options disappear after validation error"
I have a form with a select that has a long (50+) list of options (loaded dynamically).

If I submit the form when there are validation errors, then only the first ~15 options stay visible while the other options disappear.

Looking into the dom, I can see that the original select options are still there, but the generated `li` options are missing the rest.

[2015-08-15 13:30] eleventy commented on #57
Same error.  Seems to only happen when multiple `afQuickField` are nested in different `<div>`

Working:

[code]

**NOT** Working:

[code]

[2015-08-17 16:31] otroboe commented on #57
It doesn't help in my case. Now I have 2 error messages instead of only one :)
My form is in materialize modal and I define the field type in the template.

[code]

[2015-08-20 11:56] donwojtallo opened #60 "Icon prefixes"
Is there any possibility to use a QuickField to render input with an icon prefix?
Like this:
[code]
to render this:
[code]

[2015-08-20 13:03] djhi commented on #60
Not currently. I'm not sure it's possible

Le jeu. 20 août 2015 à 13:56, donwojtallo notifications@github.com a
écrit :

[2015-08-20 14:07] donwojtallo commented on #60
It would be nice to have this feature in the future.

[2015-08-20 21:59] djhi commented on #49
I'll work on this issue this weekend

[2015-08-24 17:14] elie222 commented on #3
Still an issue for me too

[2015-08-24 17:49] elie222 commented on #3
It isn't actually an issue. I wasn't using:
AutoForm.setDefaultTemplate('materialize');

[2015-08-25 21:34] serkandurusoy commented on #59
Fixed by manually reinitializing material selects, but I believe this should be a part of the theme, watching for changes in reactive autoform properties and values.

[2015-08-26 14:15] der-ede opened #61 "Autoform Materialize and Typeahead/Autocomplete"
Hi there,

any suggestions on this topic?
Is there a css class for typeahead in Materialize?
How to do this best, maybe use Meteor-Autocomplete?

Regards

[2015-08-28 23:17] boustanihani opened #62 "missing $unset for cleared pickadate fields"
When using `pickadate` and after clearing a date field, calling `AutoForm.getFormValues('FormId').updateDoc` will not contain `$unset` for the field cleared:

[code]

I could also do a reproduction example if needed...

[2015-08-30 07:52] serkandurusoy commented on #59
By the way, https://github.com/djhi/meteor-autoform-materialize/pull/58 actually fixes this.

[2015-08-30 07:55] serkandurusoy opened #63 "Is this project dead?"
Hi,

Great work!

But I do wonder if this is dead since it has been months now that there are no updates and PRs waiting.

@djhi if you don't have the time to work on this, would you consider granting write permissions to some other devs for both this repo and the atmosphere package?

[2015-08-30 10:16] djhi commented on #63
Hi, no this project is not dead but you're right, I don't have much time. I would gladly grant permissions to other devs on the repo and atmosphere. Maybe we should create an org for it ? Are you in ?

[2015-08-30 10:18] serkandurusoy commented on #63
This is great news.

I'm definitely in!

Although I'm not proficient enough in materializecss to oversee everything, I'd be perfectly willing to submit fixes and review PR's to help you in any way I can.

[2015-08-30 11:05] #42 closed

[2015-08-30 11:05] #46 closed

[2015-08-30 11:10] djhi commented on #55
Fixed in `0.0.22` which will be published later today

[2015-08-30 11:10] #55 closed

[2015-08-30 11:10] djhi commented on #49
Fixed in `0.0.22` which will be published later today

[2015-08-30 11:10] #49 closed

[2015-08-30 11:11] djhi commented on #56
They are added. Check the playground

[2015-08-30 11:11] #56 closed

[2015-08-30 11:25] serkandurusoy commented on #49
I just upgraded to 0.0.23 and can confirm that it is _NOT_ fixed.

I can only see my checkboxes checked if I include the following snippet:

[code]

[2015-08-30 11:56] djhi commented on #49
You're right, I only applied it on the online version. Fix incoming

[2015-08-30 12:05] serkandurusoy commented on #49
:+1:

[2015-08-30 12:15] djhi commented on #49
I have to refactor all helpers in order for this to work. Expect a release in a few hours

[2015-08-30 16:37] serkandurusoy commented on #49
Cool, this has now been fixed!

[2015-08-30 16:47] serkandurusoy opened #64 "Extra carets on selects"
While using material selects,

* especially those whose options are computed,
* or change depending on some other field's value,
* lots of carets appear the parent div of the select

Prior to 0.0.24, I used the following workaround in my schema definition:

[code]

This has been a [known problem](https://github.com/Dogfalo/materialize/issues?q=is%3Aissue+caret+is%3Aclosed) and the above a suggeste

[2015-09-01 06:00] boustanihani commented on #64
Same issue here (after upgrading to 0.0.24)

[2015-09-01 07:10] boustanihani commented on #13
Have you tried using the **"Custom Error Messages"** (`data-error`) for dropdowns ?? This has been introduced in v0.97

Check: http://materializecss.com/forms.html

[2015-09-01 08:48] djhi commented on #64
Probably related to #58.

I noticed the bug as stated in the comment but I can't figure out how to fix it.

[2015-09-01 09:10] serkandurusoy commented on #64
Hmm, is it possible that the debounce is causing the final extra caret?

Instead of debouncing, you could use `afterflush` perhaps or `defer`?

[2015-09-02 23:55] 0o-de-lally commented on #64
Any ideas for a quick fix?

This is what I am seeing with:
gildaspk:autoform-materialize  0.0.24
materialize:materialize        0.97.0

![screenshot 2015-09-02 19 53 08](https://cloud.githubusercontent.com/assets/1364012/9647566/6ef629be-51ac-11e5-81e3-3597605fa2fa.png)

[2015-09-03 00:04] serkandurusoy commented on #64
I ditched material_select for the browser-select and added some custom styles to make it look like material select.

add this to your schema key:

[code]

and in your css

[code]

[2015-09-03 00:12] 0o-de-lally commented on #64
@serkandurusoy Thanks, it is an improvement, though I do prefer the original Materialize select.
@djhi how can I help contribute to this?

[2015-09-03 00:17] serkandurusoy commented on #64
In my case, I'm actually happier with this because material select is really hard to use on mobile. Furthermore, dropdown direction is always down and if the number of options are high, it quickly becomes unusable. But I do agree that this needs to be solved.

[2015-09-03 00:43] serkandurusoy opened #65 "Select-checkbox broken after 0.0.24 release"
Select-checkboxes that are generated from [String] schema type now have incorrect `id` in the form of `XXXXXXXXXXX_undefined` sharing the same id for all options, therefore multiple options can no longer be selected.

Therefore, select-checkbox type is now rendered useless.

Before this update, such problem did not exist.

[2015-09-03 00:50] serkandurusoy commented on #65
https://github.com/djhi/meteor-autoform-materialize/blob/master/utilities/helpers/item-atts-with-uniq-id.js#L4

`this._id` returns `undefined` here

version 0.0.23 used to return the option value itself for this._id

[2015-09-03 09:34] boustanihani commented on #64
This will be solved with the next materialize version upgrade: https://github.com/Dogfalo/materialize/commit/cbcf4c8f6c229f42dba1dd3ccde1788d7f96ff80

I just did an upgrade request: https://github.com/Dogfalo/materialize/issues/1999

[2015-09-03 11:37] serkandurusoy commented on #64
@boustanihani unfortunately that patch does not fix this problem. I've already tried with a checkout of the materializecss repo and I can confirm that this problem persistes with autoform-materialize. But it is fixed if the select is created outside autoform as a normal select.

[2015-09-03 11:39] boustanihani commented on #64
Okay thanks for the clarifications

[2015-09-09 14:51] keyscores opened #66 "Radio select not working in meteor-autoform-materialize-playground"
Check the first radio select in the quickform example. After choosing one, you cannot de-select, or choose another.

[2015-09-09 16:19] Chun-Yang commented on #63
Hey @djhi We use materialize heavily. Do you mind grant us permissions?  https://atmospherejs.com/poetic/

[2015-09-09 16:21] serkandurusoy commented on #63
:+1:

[2015-09-10 06:37] djhi commented on #63
@Chun-Yang I granted poetic permissions on this package. Btw, I just saw your `react-autoform-material-ui`. I'm doing a lot of React lately so I'll definitely give it a go :+1:

[2015-09-10 15:04] Chun-Yang commented on #63
@djhi Do you want me to commit to your github project? Or you prefer we maintain a fork? If you want me to commit to your project. Can you grant me access too?

Thanks you!

[2015-09-10 16:01] djhi commented on #63
Ok to grant you access but can we agree to work by PRs with mutual reviews then ?

[2015-09-10 16:11] Chun-Yang commented on #63
Awesome. I hope this works out. I will create PRs.

[2015-09-10 16:59] serkandurusoy commented on #57
This is a problem with quickforms where the two date fields are nested under separate keys as well.

[2015-09-11 15:22] Chun-Yang commented on #64
I fixed the problem on https://github.com/poetic/meteor-materialize-sass. You can try this if you use sass.

[2015-09-11 15:35] boustanihani commented on #64
@Chun-Yang Could you please tell us how ? (or through which commit...)

[2015-09-11 15:40] Chun-Yang commented on #64
https://github.com/poetic/meteor-materialize-sass/commit/9bbfffa6d809a3628a0fee18ddac9af5c8c0a7d3

[2015-09-14 07:40] Chun-Yang commented on #65
@serkandurusoy I think the new version fixed this problem. Can you confirm? Thank you!

[2015-09-14 07:40] #63 closed

[2015-09-14 07:41] Chun-Yang commented on #59
#58 is merged. Close this issue.

[2015-09-14 07:41] #59 closed

[2015-09-14 07:43] Chun-Yang commented on #64
It is a problem of materialize itself. Check my previous answers for temporary solutions.

[2015-09-14 07:43] #64 closed

[2015-09-14 07:55] Chun-Yang commented on #61
Thank you for your help!

@der-ede This seems to be suitable for another dedicated package for that. I would like to see a package like that. I will checkout your repo if you create one. :smile:

I have close this issue since it is not our concern.

[2015-09-14 07:55] #61 closed

[2015-09-14 07:56] djhi commented on #64
You can also check the troubleshooting section in the README

[2015-09-14 07:57] #57 closed

[2015-09-14 07:59] Chun-Yang commented on #51
Discussed at https://github.com/djhi/meteor-autoform-materialize/pull/52

[2015-09-14 07:59] #51 closed

[2015-09-14 08:03] Chun-Yang commented on #60
@donwojtallo can you create a new inputType and write some doc on it?
Please refer to https://github.com/djhi/meteor-autoform-materialize/tree/master/inputTypes.
We would like to merge good commits!
Thank you for your help.

[2015-09-14 08:08] Chun-Yang commented on #62
Please reproduce the bug. Can you consider using http://meteorpad.com/?
Thank you!

[2015-09-14 08:09] Chun-Yang commented on #66
@djhi Is this a meteor-autoform-materialize problem? Or the radio select is supposed to work like that?

[2015-09-14 08:10] Chun-Yang commented on #47
@boustanihani Can you create a pull request to demonstrate your idea? Thank you!

[2015-09-14 08:23] djhi commented on #66
This is a bug on meteor-autoform-materialize. The same happen with checkbox-select on the playground. I'll try to fix that. Thx @keyscores

[2015-09-14 09:16] ghost commented on #61
Hi there,

Thank you for your response. I wish I had time for that haha.
I also have to say thank you for the package, but in my company we decided
against materialize polymers paper etc.
As I think this is a good direction for Google to put more effort into
design, it is also their first iteration and I think it is not grown up
yet. But definitely something interesting for the future.

Keep it up

[2015-09-14 11:00] serkandurusoy commented on #63
@Chun-Yang @djhi  You guys are just plain awesome! Hip hip hooray for community collaboration! :clap:

[2015-09-14 11:01] serkandurusoy commented on #65
Nope, unfortunately this did not fix the checkbox problem, checkboxes still unchecked updating with quickform

[2015-09-14 11:11] boustanihani commented on #47
Usually autoform generates random IDs for all fields. But there seems to be a bug when using custom templates (https://github.com/aldeed/meteor-autoform/issues/1074) the IDs are not getting passed/generated...

I was just wondering if you faced the same issue and then decided to let `{{atts.name}}` be the field id instead of using the random id generated by autoform because it is not getting passe

[2015-09-14 12:29] serkandurusoy commented on #65
My bad, I hadn't upgraded.

It is resolved, thanks!

But there is a slight visual problem. The last checkbox gets cut in the middle because it overflows its container. I added the following css to mitigate it temporarily:

[code]

[2015-09-14 15:59] donwojtallo commented on #60
I was already thinking about this, but then I had to stop contributing for a while (not enough time). I can do this next week.

[2015-09-14 16:47] keyscores commented on #64
@Chun-Yang I suggest reopening this. I'm getting a catastrophic fail after meteor update.
![Uploading Screenshot 2015-09-14 12.47.02.png…]()

[2015-09-14 16:48] 0o-de-lally commented on #64
@Chun-Yang
I'm getting multiple failures after >meteor update

gildaspk:autoform-materialize  upgraded from 0.0.24 to 0.0.25
materialize:materialize        upgraded from 0.97.0 to 0.97.1

EDIT: This is caused by upgrading meteor and not autoform materialize.

![screenshot 2015-09-14 12 47 02](https://cloud.githubusercontent.com/assets/1364012/9855851/e9423862-5ade-11e5-931d-dc659bd9e9fe.png)

[2015-09-14 16:55] serkandurusoy commented on #64
@keyscores this is a problem with materialize itself. revert back to 0.97.0. You can follow the progress over here:  https://github.com/Dogfalo/materialize/issues/2037

[2015-09-14 16:56] 0o-de-lally commented on #64
Sorry my bad, just caught it as well. Editing comment

[2015-09-15 01:13] Chun-Yang commented on #65
@serkandurusoy Do you think it is a bug on materializecss? You can try do a PR on their repo. Thanks!

[2015-09-15 01:13] #65 closed

[2015-09-15 08:26] serkandurusoy commented on #65
Yep, I posted this here only because it may prove useful to somebody else looking for a workaround.

[2015-09-16 22:27] JulianKingman opened #71 "How to enable selectYears for pickadate?"
If you look at the date picker on the Materialize website (http://materializecss.com/forms.html#date-picker), it allows you to select years. How can I enable this in this autoform, within the schema? For putting my birthday into a form I have to click the little arrow hundreds of times :s

Something like ````selectYears: true```` would be great.

[2015-09-17 23:27] kozy commented on #71
I had the same question. The following autoform configuration works (coffee script)

[code]

[2015-09-18 04:03] JulianKingman commented on #71
Thanks @kozy, that worked perfectly.

[2015-09-18 04:03] #71 closed

[2015-09-18 15:08] docgecko commented on #18
Was this issue resolved? I have the original issue, suggested by @nicolaslopezj, of the label not having the active class when I open up an edit/update form with fields already containing data

[2015-09-21 22:21] joaobarcia opened #72 "Some interface proposals"
In many of the form types the visual placement of the elements does not seem the most correct:

Regarding **radio-select-inline** types, the radiobutton seems to belong to the wrong label:
![screenshot from 2015-09-21 23 08 30](https://cloud.githubusercontent.com/assets/6717014/10006515/b5217dd6-60b5-11e5-9322-14b481a95d1c.png)

Possible fix would be changing the CSS of
[code]

to
[code]
Result:
!

[2015-09-22 08:49] Chun-Yang commented on #72
These are valid points.
However, it seems these are problems of materializecss IMO. Overriding their style may lead to confusion. I would say for now we can override these styles on the project level.

[2015-09-22 08:49] #72 closed

[2015-09-25 12:50] paulisloud opened #73 "Incompatible with Meteor 1.2 due less version dependency"
While upgrading to Meteor 1.2:

    => Errors while initializing project:

    While selecting package versions:
    error: Conflict: Constraint less@1.0.11 is not satisfied by less 2.5.0_2.
    Constraints on package "less":
    * less@=2.5.0_2 <- top level
    * less@1.0.11 <- gildaspk:autoform-modals-materialize 0.0.7

[2015-09-25 15:05] Chun-Yang commented on #73
Please update to 0.0.25

[2015-09-30 08:55] paulgrieselhuber commented on #73
At the moment it appeared that while the github repo was up to date (0.0.25), the atmosphere package was not (so updating via meteor wasn't an option). Could be mistaken, as I had to revert to 1.1 due to lots of issues with packages not supporting 1.2 yet.

[2015-10-01 16:02] donwojtallo commented on #60
https://github.com/djhi/meteor-autoform-materialize/pull/74
I could do this earlier, if I only knew it would be so simple. It works for me.

[2015-10-04 09:12] Chun-Yang commented on #73
I can confirm that the version on atmosphere is 0.0.25. You can try to manually change the version in .meteor/versions file.

[2015-10-04 09:12] #73 closed

[2015-10-04 09:12] #60 closed

[2015-10-08 00:03] chrisbutler commented on #65
i noticed this also... will try to investigate further

@serkandurusoy did you submit anything to the main repo?

[2015-10-08 15:01] serkandurusoy commented on #65
No I have not, I was satisfied with that quick fix, which I believe should not get merged upstream.

[2015-10-22 22:03] sakulstra opened #76 "pickatime"
There's no usable input type for the daytime :/, would be nice to have sth. integrated like 'pickatime'... as type='time' isn't supported by firefox, yet.

Additionally there is a bug with input type='time' using autoform-materialize. The label isn't going away when typing sth.

[2015-10-27 09:47] kovacss commented on #76
+1

[2015-11-09 12:25] mynameiskyleok opened #77 "Labels still visible on hidden fields using quickForm"
The field itself is hidden, however the field label itself still shows (see screenshot) using the following schema definition:

[code]

![autoform-issue](https://cloud.githubusercontent.com/assets/4357572/11033667/08718b8e-86b3-11e5-8f0e-61d1fe3cc419.jpg)

[2015-11-10 15:52] mynameiskyleok commented on #77
I'm still not sure if this is a bug or a versioning thing with meteor-autoform, but according to the meteor-autoform documentation (http://autoform.meteor.com/types --> select 'hidden' from dropdown), this is how you create a hidden field with a schema:

[code]

However, I've found that if you remove the `javascript afFieldInput` object and place the `javascript type: "hidden"` property directly i

[2015-11-11 19:12] cmastery opened #78 "Input label overlapping with dynamic generated value"
Greetings! I have the following html (a modal):
<code>

					<div class="input-field col s6">
						<input id="inputIdName" type="text" class="validate" name="sliderTitlu"/>
						<label for="inputIdName" class="active" id="inputIdNameLabel">Name</label>
					</div>
</code>

And I generate input value by `$.getJSON` function, and the value of input and the label is overlapped.

I have also tried t

[2015-11-11 19:29] #78 closed

[2015-11-22 05:10] amcneilly opened #79 "Clicking label does not activate text input"
I was following the tutorial http://farla.io/2015/05/18/generating-beautiful-forms-the-easy-way-with-autoform-for-meteor.html using the Meteor materialise boiler template https://materialize-boilerplate.meteor.com/.

meteor-autoform-materialize appears broken as the autoform created inputs do not activate when clicking the label. You need to click below the label to active.

Result is fustrating u

[2015-11-25 18:50] brendonlamb opened #80 "Interface lag with arrays of objects on save"
I'm not 100% sure but it looks like the materialize javascript initialization is re-fired each save for every form element.

While I know that probably makes sense to keep the interface up-to-date and functioning- it's causing my interface to freeze for ~1 second, like pegging the CPU to 100%.

When I remove the array field these issues go away.

Watching in dev tools I can see all of my for eleme

[2015-11-25 23:42] justintech opened #81 "Input with prepended icon does not work"
When I do a simple custom autoform trying to get icons on the fields it doesn't work:

[code]

Anyone else have this issue/know a work around?

[2015-12-03 20:33] sakulstra commented on #7
Hay there, I still get an error like this:

[code]

Someone has an idea what the problem could be?
I'm using this package inside another package.

Everything works like expected ... it's just spamming the console.
perhaps one could simply rewrite

[code]

Regards,
Lukas

[2015-12-08 19:24] sakulstra opened #82 "pickadate weekdaysShort defaults doesn't work"
Pickadate defaults doesn't work for "weekdaysShort" - everything else works like expected.

I've this in my client Startup:

[code]

![pickadate_bug](https://cloud.githubusercontent.com/assets/4396533/11665833/a59646a0-9de9-11e5-92cb-869aa2cb6960.png)

[2015-12-11 12:55] serkandurusoy opened #84 "pickadate value getting removed on first submit if there is other valdiation error"
This also reproducible on the demo playground.

1. Fill in the form, including the pickadate field, but leave some other mandatory field empty
2. Submit the form
3. See that the pickadate field is cleared, and required message is shown
4. Repeat (don't refresh the page), now you see that the value is persisted across invalid submits

[2015-12-11 14:46] serkandurusoy commented on #84
@djhi @Chun-Yang

removing the `else` block in https://github.com/djhi/meteor-autoform-materialize/blob/master/inputTypes/pickadate/pickadate.js#L91-L93 mitigates the issue.

I frankly don't get why that is there anyway. I've also checked other datepicker style autoform components, and it seems no one cares about such "clearing".

[2015-12-21 16:15] keyscores opened #86 "Prefilled form with number 0, breaks the CSS"
When a number 0 is used in an Autoform 'update' document, the normal layout of the form label is not implemented. It is as if the form was "null". So the label is overlaid with the 0. See below.

Using materialize:materialize version 0.97.3

![screenshot 2015-12-21 14 07 58](https://cloud.githubusercontent.com/assets/1364012/11934977/59e3df94-a7ec-11e5-9bce-c97c80b1b5e5.png)

To be clear this does

[2015-12-21 17:46] #86 closed

[2015-12-21 17:48] #84 closed

[2015-12-22 05:49] BackSpaceTech opened #87 "Placeholders overlapping input fields"
Materialize requires labels set to "active" when using placeholders, otherwise placeholders and labels will be overlapping:
"If you are having trouble with the labels overlapping prefilled content, Try adding class="active" to the label"
Can you please consider making a change to your plugin to accommodate this?
see: http://materializecss.com/forms.html#input

[2015-12-29 20:42] gantrim commented on #80
I am also looking to fix this issue. I plan on submitting a pr if/when i have a fix. To save me some time, do you remember where in the code this is happening?

[2016-01-15 21:10] PhilippSpo commented on #87
If I remember correctly you have to call `Materialize.updateTextFields();` once the input is rendered (so in the `onRendered` callback of your template.

[2016-01-20 18:36] shyaaam commented on #81
+1.

The issue is this file.
`<template name="afIcon_materialize">
  <i class="material-icons prefix">{{this.icon}}</i>
</template>`

It should have been
`<template name="afIcon_materialize">
  <i class="material-icons prefix {{this.icon}}"></i>
</template>`

If you do this, it gets corrected. I request the author to correct this. too lazy to do a pull request.

[2016-01-25 20:55] elie222 commented on #76
+1

[2016-02-01 16:48] yourcontainer opened #88 "input-col-class not supported"
`{{> afQuickField input-col-class="col s6" name='name' placeholder=''}}`

Works fine only with bootstrap,  and also if use `template="plain"`

https://github.com/djhi/meteor-autoform-materialize/blob/master/components/afFormGroup/afFormGroup.html#L3

[2016-02-24 13:28] ericvrp commented on #76
Is it really not possible to use a combined datetime picker? A pickaday without time is not often very useful. I kept looking and looking because I fear I might overlook some option/setting.

[2016-03-03 01:10] rhlsthrm opened #89 "Reactively switch between select and free-text"
I am trying to make a form that reactively switches between a select and a free-text input field.

I have the functionality working by using a helper to dynamically set the options as such:

[code]

The functionality works, however, when the options change and the afFieldInput changes from a select to a text input, it inserts a new afFieldInput into the UI and the old one is still there, but non f

[2016-03-03 13:11] 0o-de-lally commented on #87
I confirm that Materialize.updateTextFields() on rendering solves the overlapping issue.

[code]

[2016-03-09 19:55] arloesol opened #90 "select-checkbox-inline is not inline"
Shouldn't the template for select-checkbox-inline be changed to use 'span's in stead of 'p's like select-radio-inline does ?

[2016-03-09 20:37] mixcas commented on #80
I'm having an issue like this too. The whole interface gets frozen after i remove an element from an array.

[2016-03-13 11:37] andfs opened #91 "select-radio-inline not showing"
When I choose a Boolean field with type select-radio-inline nothing is shown

[code]

[2016-03-18 13:02] 0o-de-lally commented on #46
Possibly related: I'm getting overlaying labels over input field only on date fields. Only 'pickadate' fields are doing this. Is there some way I can fix this?

Using:
gildaspk:autoform-materialize         0.0.26

![screen shot 2016-03-18 at 9 00 11 am](https://cloud.githubusercontent.com/assets/1364012/13878461/f912ef84-ece7-11e5-9fd5-e4824a18deef.png)

[2016-03-18 13:14] keyscores opened #92 "pickadate fields with type: Number are not formatting MM/YYYY in autoform 'Update' forms"
I'm using pickadate form fields to collect data. When the user inputs a new clean field, the date appears to the user as MM/YYYY. Good.

However, when the user returns to edit that same field, it appears as unix epoch milliseconds 14000000000 . It seems not to render.

[code]

Am I doing something wrong? Is there a work around? Or is this not implemented?

(I must use milliseconds for this dataset

[2016-03-18 13:33] 0o-de-lally commented on #92
Correction: I noticed that the correct formatting MM/YYYY happens only when the page is refreshed. (Perhaps only when the page is rendered). If a reactive variable, or session is used to update a form (as I am doing) then the field will not format correctly.
So I'm guessing this formatting is happening onRender, instead of with a Tracker.autorun ?

[2016-03-18 13:39] 0o-de-lally commented on #92
@serkandurusoy I see you worked on 'pickadate' type recently. Any ideas? Thanks in advance :)

[2016-03-18 13:51] serkandurusoy commented on #92
I've forked the repo and applied https://github.com/djhi/meteor-autoform-materialize/pull/85 and comment out `else {picker.set('clear');}` so that picker persists across invalid submissions

 I also use a `pickadateOptions` object on `autoform` to pass in a `format` parameter

And finally I work with `Date` types not milliseconds.

[2016-03-18 13:57] 0o-de-lally commented on #92
I think my problem applies to all types, not just milliseconds. I'm wondering if the format parameter is being ignored when I modify reactively the autoform 'update' doc. That is... it's only being applied on render. Does this make sense?

[2016-03-18 14:02] serkandurusoy commented on #92
Did you try this:

[code]

[2016-03-18 14:04] keyscores opened #93 "pickadate within an array type, opens a modal within the array div. See image"
When one uses a pickadate type within an array type, a UI bug appears. The modal appears within a div and the overflow cuts off the calendar box modal. See image for detail.

![screen shot 2016-03-18 at 10 00 13 am](https://cloud.githubusercontent.com/assets/1364012/13879900/421f08b8-ecf0-11e5-878b-7308b6930fc8.png)

Code example:

[code]

[2016-03-18 14:11] 0o-de-lally commented on #92
@serkandurusoy  Sorry no change with that code.
To be clear: I do get the correct format when I refresh, or change routes. It works perfectly.
However if I change the form doc reactively with a Session.get ... that when date fields lose their format. That's why I wonder if the field formatter should trigger on autorun, and not only on render.

Some context: In my UI,  on the left: I have a list, o

[2016-03-18 14:16] serkandurusoy commented on #92
hmm, well, you can set up an autorun that depends on your session and then calls `$('/*classname for your datepickers*/').pickadate()`

[2016-03-18 14:38] 0o-de-lally commented on #92
@serkandurusoy Ok, but I think other people are likely having the same issue, even if it's not milliseconds. I'm thinking the issue is on line 70 here https://github.com/djhi/meteor-autoform-materialize/blob/master/inputTypes/pickadate/pickadate.js

The autorun should probably include the other variables set on render... but I'm not familiar enough with the code.

[2016-03-18 14:50] serkandurusoy commented on #92
Hmm line 89 may be the culprit since it runs only once because it is already satisfied, but it does satisfy general usecases.

For your specific case, though, I'd really suggest setting up an external autorun just like I suggested in my previous case.

[2016-03-18 15:37] 0o-de-lally commented on #92
@serkandurusoy  Thanks again for this. I'm trying without much luck.
Here's a repo that can reproduce this. https://github.com/keyscores/autoform-materialize-datepicker-issue

I think other people will have this issue, it's not just Number types. Thanks in advance for taking a look at it!

[2016-03-18 15:55] 0o-de-lally commented on #92
@serkandurusoy @Chun-Yang

On line 89 I made a change to make milliseconds work.

   if (data.value instanceof Date || !isNaN( data.value )  ) {

However this will still break for other types you are converting from. 'String' 'Array' are other possible types documented. https://github.com/djhi/meteor-autoform-materialize#automatic-type-conversions

[2016-03-18 16:13] 0o-de-lally commented on #93
This is a Materialize issue, which happens when the datepicker is attached to a parent element and not the body.

Can be fixed on line 74 with:

[code]

See here: https://github.com/Dogfalo/materialize/issues/1032

[2016-03-18 18:48] djhi commented on #92
Do you guys want to be added as contributors on this projet and be able to publish new versions ?

[2016-03-18 19:20] keyscores commented on #93
Actually, Adding  $('.picker').appendTo('body'); within the .render() method will cause the app to crash. Somehow it creates a memory leak.

@djhi @Chun-Yang  Any ideas where to add the appendTo method ?

[2016-03-18 19:20] 0o-de-lally commented on #92
@djhi Thanks for the offer. I'm not sure I can be more helpful besides these bug reports. I'm happy to submit a pull request but I think it's incomplete. Any ideas how to improve?

[2016-03-18 19:26] djhi commented on #92
Honestly I don't know, I don't have time anymore for meteor projects. We don't use it at my company, at least for now. I didn't have much knowledge about js and meteor at the time I wrote this so don't be shy and try !

[2016-03-18 19:35] 0o-de-lally commented on #92
I'll send a pull request if I can solve it. Right now I have a memory leak, which I'm not sure is related to this.

[2016-03-18 20:20] serkandurusoy commented on #92
Thanks for the offer, but I am past materializecss and will be using bootstrap for blaze/autoform projects and if I decide to use material ui, that'll probably be on react, going forward.

But I do appreciate all the work and contributions you have done. This package has been very valuable to me on a project I take pride in.

[2016-04-10 18:05] keyscores opened #94 "How to make Array type horizontal or inline?"
I've been struggling with the CSS of the Array type forms.

Has anyone here had any success making the forms within an Array type, look horizontal.

To be clear, today all input fields within an array appear line by line. I would like them on the same line.

Thanks in advance

[2016-04-10 20:07] adrian-gierakowski opened #95 "layout problem when displaying group of checkboxes"
screenshot from the playground project:

<img width="407" alt="screen shot 2016-04-10 at 22 01 03" src="https://cloud.githubusercontent.com/assets/330177/14412687/5fb7aaf8-ff68-11e5-87aa-ab992d519977.png">

this happens both and Safari and Chrome on OSX 10.11

[2016-04-10 20:11] adrian-gierakowski opened #96 "misaligned text on [ ADD + ] button for adding array elements"
The REMOVE button seems to have the text properly centered vertically, however on the ADD button it is a bit too low. The ADD button is a also a bit too close to the section title ( 'Emails'  ) for my taste.

<img width="304" alt="screen shot 2016-04-10 at 22 07 51" src="https://cloud.githubusercontent.com/assets/330177/14412726/0cb24948-ff69-11e5-8b01-bf7451005dfa.png">

[2016-04-13 08:22] alonprince commented on #45
How can I show the label? Is there have something config to figure out this problem?I don't want use dropdown instead of radio.

[2016-04-21 22:47] andfs opened #98 "Internationalize ADD and REMOVE buttons"
When using nested arrays, the add and remove buttons has his labels hard codded, so it`s impossible to internationalize them.
Could put it in a properties file or parameter?

[2016-05-04 10:02] mordka commented on #76
I encountered the same problem so I worked on a solution which consists of 2 fields - `date` and `time` If you have a look at time picker here: http://amsul.ca/pickadate.js/time/ you can notice it can be represented as a select item. So our `time` property can be a select populated by handcrafted array of time strings:

[code]

On update/insert store date and time in `Date()` object, we can use `a

[2016-07-01 03:55] cunneen opened #100 "Still alive?"
Is this project still alive?

[https://github.com/djhi/meteor-autoform-materialize/graphs/commit-activity]()

[2016-07-01 03:57] cunneen opened #101 "materialize icons don't work"
Materialize has changed the way icons are specified in html, to be compatible with Google's material icons.

So references to e.g.

`<i class="mdi-content-add"></i>`

Need to be changed to:

`<i class="material-icons">add</i>`

[2016-07-02 10:51] djhi commented on #100
Hey, I don't do much meteor these days and when I do I use React. I won't spent time on this repository but I would happily transfer it to anyone willing to work on it. Interested ?

[2016-07-08 13:55] acomito commented on #81
mine work fine like this:

https://github.com/djhi/meteor-autoform-materialize#input-with-prepended-icon

[2016-07-12 02:46] cunneen commented on #100
Thanks for clarifying. I don't have a lot of time to manage the project, but I do find it very useful.

[2016-07-12 02:46] #100 closed

[2016-07-21 18:43] keyscores opened #102 "pickadate is not persisting the date object in the desired timezone?"
I would expect that the date persisted to db would also be converted to timezoneID specified. Or is it just for displaying the timezone?

If one specifies a schema with:

[code]

I would expect the date in the DB to be offset to Los Angeles time, instead I get the browser time.

see reproduction here:
https://github.com/keyscores/autoform_materialize_date_timzeone_issue

[2016-07-21 18:43] 0o-de-lally commented on #102
@serkandurusoy I think you were the last person to touch the pickadate input type. Any thoughts on this?

[2016-07-21 18:51] serkandurusoy commented on #102
Hm I used that ages ago - in software years :) - and I had a single timezone use case.

But I would expect the persisted date to be whatever the server timezone is (preferably Etc/UTC) and the displayed date to be whatever it corresponds to for the chosen time zone.

[2016-07-21 19:02] 0o-de-lally commented on #102
This is where this package diverges from autoform. In the original implementation the UTC time is used by default, https://github.com/aldeed/meteor-autoform#typedate .
In this package it's always saving with the browser timezone. Is this on purpose?

[2016-07-21 19:13] serkandurusoy commented on #102
According to the source

https://github.com/djhi/meteor-autoform-materialize/blob/master/inputTypes/pickadate/pickadate.js#L15

and

https://github.com/aldeed/meteor-autoform/blob/16f100ce96a13823b293414f5c615ea67693a39e/inputTypes/value-converters.js#L105

it looks like it works as I described.

Edit:
As compared to your expactation from https://github.com/aldeed/meteor-autoform/blob/devel/inputT

[2016-07-21 19:26] 0o-de-lally commented on #102
Yes I see now that it is just converting the date for display. However Autoform has date types that use UTC by default. That's a bit confusing. If others would find it useful I would propose that this should at least save it by UTC by default (since servertime is harder to control).
And/or optionally it could the timezone always for saving and displaying. Thoughts?

[2016-07-21 19:32] serkandurusoy commented on #102
It would be a breaking change for existing apps at this point, so I'd suggest you to base a new component on this one.

In the meantime, http://yellerapp.com/posts/2015-01-12-the-worst-server-setup-you-can-make.html

Servers absolutely definitely surely inevitably undeniably must be set to Etc/UTC!

If that's not possible, then the app's `enviornment` should be set as such. All PaaS providers (mod

[2016-07-21 19:39] 0o-de-lally commented on #102
So do you know if galaxy is by default on UTC. If it is UTC, then the component is actually using the browser timezone.

[2016-07-21 19:51] serkandurusoy commented on #102
I don't know (I think not) its default but you can set your app instances'
timezone using your `settings.json`. You should set time environment
variable `TZ` to whatever timezone you'd like it to use, but I'd suggest
`Etc\UTC`

[2016-07-22 17:08] 0o-de-lally commented on #102
I confirmed that the component is using the browser timezone, rather than server. It returns a pickadate.obj, which is a client Date() object. Is this a feature or a bug that should be changed? It may be breaking for some people but I suspect few people are using local timezones intentionally.

  valueOut: function() {
    var picker = this.pickadate('picker');
    var item   = picker && picker.ge

[2016-07-23 15:42] serkandurusoy commented on #102
Well, this component has been out and in use for a year now and I am sure there are a lot of people who either consciously or unconsciously rely on how it handles dates. So changing it would probably come at a big surprize and even be damaging for some people.

I believe the way to fix this is not to change this component but either one of:
- add a new property such as `convertToCustomTimezone` th

[2016-07-27 21:42] diegonc opened #103 "add data-required on afFormGroup div"
Back in version 5.0.0[1] autoform added a `data-required` attribute to the afFromGroup container div which allows to add a required marker to labels through CSS.

Can this be implemented here? The current state makes it difficult to add such marker to select fields.

[1] https://github.com/aldeed/meteor-autoform/commit/0ea0fb24ccdc40dbd8da16f2b696d2b5bafc803b

[2016-08-04 14:42] TheYojimbo opened #104 "Multiple date picking ?"
Hello,

First, thank you very much for this great work.

So I've been browsing the web for most of the afternoon searching for something that fit my needs, and I've been unsuccessful so far. I'd like the possibility to select multiple dates on a calendar, and I was wondering if it could be possible with your package.

I've tried with a node package, but couldn't make it work on my project, and ald

[2016-10-10 21:32] tomhalley opened #106 "Multiple selects not rendering properly"
Here is my Schema:

[code]

I do not get the multiple select that appears on the materialize documentation (http://materializecss.com/forms.html#select). Instead, I get an almost completely default HTTML select with the multiple attribute.

Please, somebody help I've been wrestling with this all day

Thanks

[2016-10-10 21:34] tomhalley commented on #106
Here is the HTML it renders from chrome devtools:

[code]

[2016-10-10 22:00] tomhalley commented on #106
I figured it out.

Why does this file: [meteor-autoform-materialize/inputTypes/select-multiple/select-multiple.js](https://github.com/djhi/meteor-autoform-materialize/blob/master/inputTypes/select-multiple/select-multiple.js) basically make the select-multiple not work with materialize?

[2016-10-31 02:16] Chey47 opened #107 "pickadate is not a function Error"
Hey , Great package but i have a little problem with it.

Anytime i pick a date i get this : pickadate is not a function Error , Espacialy when it tries to call the Close function which leaves the datepicker always open :(

Error on this line : `return $(this).pickadate('picker').close();  `

Can you please help ?

[2016-11-11 20:52] hartreed commented on #91
Just ran into this issue myself, it appears that my issue is that the poetic:materialize-scss package styles the radio elements to shift them -9999px offscreen (and puts them at 0 opacity).

I assume this is because it's supposed to be replacing the default element with a custom styled one, but autoform-materialize doesn't seem to be doing this.

There seem to be several conflicts between the defa

[2016-11-14 23:37] Chey47 commented on #106
so what did you do my friend ??? :(

[2016-11-14 23:41] tomhalley commented on #106
Ah sorry, I'll just go back over the code and update here

[2016-11-14 23:44] tomhalley commented on #106
I'll get back with an answer for you tomorrow, don't have access to a working copy ATM. Sorry!

[2016-11-14 23:52] Chey47 commented on #106
take all your time my friend :) thank you in advance

[2016-11-14 23:56] tomhalley commented on #106
In my subscriptions for the category object, I added in some jquery bits to sort the rendering out.

[code]

I also took the multiple-select out of the schema, but i don't think it made a lot of difference.

[code]

[2016-11-14 23:58] #106 closed

[2016-11-15 00:22] Chey47 commented on #106
thank you for your answer it does work fine, but i kinda found a better solution if it would interest anyone :

[code]

[2016-11-15 00:23] tomhalley commented on #106
Nice!

[2016-12-09 10:10] tomhalley commented on #106
Just tried your solution, unfortunately, it did nothing except give me a multiple select in the traditional sense, not a dropdown with multiple selector

[2017-01-18 07:21] thearabbit opened #108 "Could upgrade to last of AutoForm?"
Could upgrade to last of AutoForm?

[2017-02-01 09:23] ziaulrehman40 commented on #107
@Chey47 Any solution?

[2017-02-01 17:26] Chey47 commented on #107
Hey , yeah for the "pickadate is not a function Error" , it was because i was including manually another Jquery script which screwed up everything. Using meteor's jquery fixed that.

for the "datepicker always open" problem i added this line in my client lib directory (First folder to be loaded in client  :

[code]

Hope this helped you.

[2017-02-02 04:37] ziaulrehman40 commented on #107
Well, thanks for the update. But i don't know how would i figure out which script is messing things up. i  of js being used in my project. So, i think i should look for another library maybe :/
[A similar issue being discussed here.](https://github.com/janmarek/WebLoader/issues/119#issuecomment-276631965)

[2017-03-07 19:03] DanceParty commented on #91
Adding this to the CSS will fix this issue (at least in my case)

[code]

[2017-03-13 17:31] jfhenon commented on #108
Is this package maintained?

[2017-03-13 17:34] djhi commented on #108
I no longer use Meteor and won't be updating this project anymore. If anyone is interested in taking care of it, I'll gladly transfer ownership.

[2017-03-13 17:34] djhi commented on #107
I no longer use Meteor and won't be updating this project anymore. If anyone is interested in taking care of it, I'll gladly transfer ownership.

[2017-03-13 17:34] djhi commented on #91
I no longer use Meteor and won't be updating this project anymore. If anyone is interested in taking care of it, I'll gladly transfer ownership.

[2017-03-14 01:25] thearabbit commented on #108
Wow `I no longer use Meteor`.
what the new for you?

[2017-03-14 05:55] djhi commented on #108
First, as most apps, my apps don't need real time client updates.

I use koa on serverside with a postgresql database and apollo.
I use react/redux/apollo on client.

[2017-03-14 14:12] thearabbit commented on #108
Thanks for your sharing.

[2017-03-14 14:31] djhi commented on #108
No problem. Interested in taking over this project ?

[2017-03-17 14:57] mozfet commented on #108
This package will be maintained by me going forward. I will be using it in a commercial product, so I expect to have it it tip-top shape within a few weeks.

[2017-03-17 14:57] #108 closed

[2017-03-17 15:01] mozfet commented on #108
PS: I have started using this repo with (and have not foud any major issues... yet):
METEOR@1.4.2.3
aldeed:autoform@5.1.2
aldeed:collection2-core@2.0.0
aldeed:simple-schema@1.3.3
aldeed:template-extension@4.0.0
materialize:materialize@0.98.0
mdg:validated-method@1.1.0

[2017-03-17 15:01] #47 closed

[2017-03-17 15:02] #62 closed

[2017-03-17 15:03] mozfet commented on #66
this is more than a year old... im closing it to make room for new issues ;)

[2017-03-17 15:03] #66 closed

[2017-03-17 15:05] mozfet commented on #76
I will be needing a similar input as this in a commercial project I'm working on right now, and will add such a input to the project. Keep watching this space.

[2017-03-17 15:06] mozfet commented on #77
this solution also works for me.

[2017-03-17 15:06] #77 closed

[2017-03-19 08:58] djhi commented on #107
Future work on this package has been transferred [here](https://github.com/mozfet/meteor-autoform-materialize). Thanks @mozfet

[2017-03-19 08:58] #107 closed

[2017-03-19 08:59] djhi commented on #104
Future work on this package has been transferred [here](https://github.com/mozfet/meteor-autoform-materialize). Thanks @mozfet

[2017-03-19 08:59] #104 closed

[2017-03-19 08:59] djhi commented on #103
Future work on this package has been transferred [here](https://github.com/mozfet/meteor-autoform-materialize). Thanks @mozfet

[2017-03-19 08:59] #103 closed

[2017-03-19 08:59] djhi commented on #102
Future work on this package has been transferred [here](https://github.com/mozfet/meteor-autoform-materialize). Thanks @mozfet

[2017-03-19 08:59] #102 closed

[2017-03-19 08:59] djhi commented on #101
Future work on this package has been transferred [here](https://github.com/mozfet/meteor-autoform-materialize). Thanks @mozfet

[2017-03-19 08:59] #101 closed

[2017-03-19 08:59] djhi commented on #98
Future work on this package has been transferred [here](https://github.com/mozfet/meteor-autoform-materialize). Thanks @mozfet

[2017-03-19 08:59] #98 closed

[2017-03-19 09:00] djhi commented on #96
Future work on this package has been transferred [here](https://github.com/mozfet/meteor-autoform-materialize).

[2017-03-19 09:00] #96 closed

[2017-03-19 09:00] djhi commented on #95
Future work on this package has been transferred [here](https://github.com/mozfet/meteor-autoform-materialize).

[2017-03-19 09:00] #95 closed

[2017-03-19 09:00] djhi commented on #94
Future work on this package has been transferred [here](https://github.com/mozfet/meteor-autoform-materialize).

[2017-03-19 09:00] #94 closed

[2017-03-19 09:00] djhi commented on #93
Future work on this package has been transferred [here](https://github.com/mozfet/meteor-autoform-materialize).

[2017-03-19 09:00] #93 closed

[2017-03-19 09:00] djhi commented on #92
Future work on this package has been transferred [here](https://github.com/mozfet/meteor-autoform-materialize).

[2017-03-19 09:00] #92 closed

[2017-03-19 09:00] djhi commented on #91
Future work on this package has been transferred [here](https://github.com/mozfet/meteor-autoform-materialize).

[2017-03-19 09:00] #91 closed

[2017-03-19 09:00] djhi commented on #90
Future work on this package has been transferred [here](https://github.com/mozfet/meteor-autoform-materialize).

[2017-03-19 09:00] #90 closed

[2017-03-19 09:00] djhi commented on #89
Future work on this package has been transferred [here](https://github.com/mozfet/meteor-autoform-materialize).

[2017-03-19 09:00] #89 closed

[2017-03-19 09:01] djhi commented on #88
Future work on this package has been transferred [here](https://github.com/mozfet/meteor-autoform-materialize).

[2017-03-19 09:01] #88 closed

[2017-03-19 09:01] djhi commented on #87
Future work on this package has been transferred [here](https://github.com/mozfet/meteor-autoform-materialize).

[2017-03-19 09:01] #87 closed

[2017-03-19 09:01] djhi commented on #82
Future work on this package has been transferred [here](https://github.com/mozfet/meteor-autoform-materialize).

[2017-03-19 09:01] #82 closed

[2017-03-19 09:01] djhi commented on #81
Future work on this package has been transferred [here](https://github.com/mozfet/meteor-autoform-materialize).

[2017-03-19 09:01] #81 closed

[2017-03-19 09:01] djhi commented on #80
Future work on this package has been transferred [here](https://github.com/mozfet/meteor-autoform-materialize).

[2017-03-19 09:01] #80 closed

[2017-03-19 09:01] djhi commented on #79
Future work on this package has been transferred [here](https://github.com/mozfet/meteor-autoform-materialize).

[2017-03-19 09:01] #79 closed

[2017-03-19 09:01] djhi commented on #76
Future work on this package has been transferred [here](https://github.com/mozfet/meteor-autoform-materialize).

[2017-03-19 09:01] #76 closed

[2017-09-03 08:41] choyno commented on #18
$('.input-field label').addClass('active');
    setTimeout(function(){ $('.input-field label').addClass('active'); }, 1);